body
	background-color: #3d3d3d
	height: 100vh
	box-sizing: border-box


.section
	height: 100%
	width: 400px
	margin: 20px auto 0 auto
	text-align: center
	.first-button
		height: 140px
		padding-top: 50px
		border-bottom: 2px dotted #333
	a
		margin-top: 20px
		display: inline-block
		height: 50px
		width: 180px
		background-color: #3498db
		text-decoration: none
		color: black
		text-align: center
		line-height: 3.3
		border-radius: 30px
		font-size: 15px
		position: relative
		overflow: hidden
		box-shadow: 0px 0px 10px #2980b9
		font-family: 'Varela Round', sans-serif
		.main
			text-transform: uppercase
			position: relative
			bottom: 0%
			font-weight: 900
			-webkit-transition: all 0.4s ease


		.hover
			img
				height: 50px
				width: 50px
				position: absolute
				top: 100%
				left: 65px
				transition: top 0.5s ease

		&:hover
			.main
				position: relative
				bottom: 100%
			img
				top: 0
